@import "tailwindcss";

:root {
  --col-text: var(--color-gray-950);
  --col-text-lighter: var(--color-gray-400);
  --col-bg: var(--color-gray-200);
  --col-links: var(--color-purple-500);
  --col-bg-secondary: var(--color-white);
  --col-borders: var(--color-gray-300);
  --col-primary: var(--color-blue-500);
  --col-btn-primary: var(--color-purple-500);
  --col-btn-text: var(--color-white);

  --col-nav-bg: var(--color-purple-600);
  --col-nav-highlight: var(--color-purple-700);
  --col-nav-link: var(--color-white);
}

/* body[data-theme="shire"] {
  --color-accent-1: green;
} */

@theme {
  --color-text: var(--col-text);
  --color-text-lighter: var(--col-text-lighter);
  --color-bg: var(--col-bg);
  --color-links: var(--col-links);
  --color-bg-secondary: var(--col-bg-secondary);
  --color-borders: var(--col-borders);
  --color-primary: var(--col-primary);
  --color-btn-primary: var(--col-btn-primary);
  --color-btn-text: var(--col-btn-text);

  --color-nav-bg: var(--col-nav-bg);
  --color-nav-highlight: var(--col-nav-highlight);
  --color-nav-link: var(--col-nav-link);

  --container-auto-xl: min(calc(100% - 2.5rem), 80rem);
  --container-auto-lg: min(calc(100% - 2.5rem), 72rem);
  --container-auto-md: min(calc(100% - 2.5rem), 64rem);

  --breakpoint-xs: 30rem;
}

body {
  @apply bg-bg text-text;
}

.btn {
  @apply py-2 px-3 rounded cursor-pointer hover:shadow-md/25 transition;
}

.progress-bar {
  @apply w-full h-2 rounded-full bg-primary/15;
  background-image: linear-gradient(var(--color-primary), var(--color-primary));
  background-repeat: no-repeat;
  animation: progress 2s ease-in-out;
}

@keyframes progress {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}